<footer class="footer mt-auto py-3 bg-light h-250">
  <div class="container">
    <div class="row g-3">
      <div class="col-md-8">
        <i class="fa fa-copyright"></i>
        <span class="text-muted">&copy; 2021 Company, Inc</span>
      </div>
      <div class="col-md-4">
        <ul class="list-unstyled col-md-6">
          <li class="ms-3">
            <a class="text-muted" href="#">
              <i
                class="bi bi-instagram"
                style="font-size: 2rem; color: black"
              ></i
            ></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#">
              <i
                class="bi-github"
                style="font-size: 2rem; color: black"
                role="img"
                aria-label="GitHub"
              ></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- </div> -->
