    <p-progressBar [mode]="indeterminate" [style]="{'height': '6px'}"></p-progressBar><div class="card text-center">

  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" [routerLink]="'agregar'" routerLinkActive="active">Realizar
          Compra</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'listar'" routerLinkActive="active">Estado de
          pedidos</a>
      </li>
    </ul>
  </div>
</div>
<div class="">
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active" id="routerapp">
       <router-outlet  (activate)="onOutletLoaded($event)" ></router-outlet>
      </div>
    </div>
  </div>
</div>